#mainlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
}

.error{
  color: red;
}

.currencycard {
  border: 1px solid black;
  display: inline-block;
  text-align: left;
  padding: 5px;
  margin: 0;
}

.currencyholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#displayarea{
  text-align: center;
}

.logincards{
  text-align: right;
}

.form{
  text-align: right;
}
